# Project configuration
PROJECT_NAME=hover-translate-api

# Environment mode: development | production
MODE=development

# Application settings
APPLICATION_PORT=4000

# API keys
DEEPL_API_KEY=DEEPL_API_KEY

# Chrome extension settings
CHROME_EXTENSION_ID=your-chrome-extension-id

# External domain
EXTERNAL_DOMAIN=example.com