# Project configuration
PROJECT_NAME=hover-translate-api

# Environment mode: development | production
NODE_ENV=development

# Application settings
APPLICATION_PORT=4000

# Database settings
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=hover_translate

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=admin

# Deepl API credentials
DEEPL_API_KEY=DEEPL_API_KEY

# Google API credentials
GOOGLE_CREDENTIALS_BASE64=base64-encoded-google-credentials
GOOGLE_OAUTH_CLIENT_ID=GOOGLE_OAUTH_CLIENT_ID

# Chrome extension settings
CHROME_EXTENSION_ID=your-chrome-extension-id

# External domain
DOMAIN=example.com