# Project configuration
PROJECT_NAME=hover-translate-api

# Environment mode: development | production
MODE=development

# Application settings
APPLICATION_PORT=4000

# Deepl API credentials
DEEPL_API_KEY=DEEPL_API_KEY

# Google API credentials
GOOGLE_CREDENTIALS_BASE64=base64-encoded-google-credentials

# Chrome extension settings
CHROME_EXTENSION_ID=your-chrome-extension-id

# External domain
DOMAIN=example.com